 # use mod_rewrite for pretty URL support
RewriteEngine on


RewriteRule ^category/([A-Za-z0-9]+)$ /index.php?category=$1 [QSA,L]

RewriteRule ^process$ /index.php?process [L]


# If a directory or a file exists, use the request directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !index.php
# Otherwise forward the request to index.php
RewriteRule . /index.php [L]