 # use mod_rewrite for pretty URL support
RewriteEngine on
# If a directory or a file exists, use the request directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise forward the request to index.php

RewriteRule ^images/big/([a-zA-Z0-9]+_[0-9]{14}_[A-Z0-9]+_[A-Z0-9]+)_(big|preview).jpeg$ index.php?name=$1_$2

#RewriteRule . /index.php [R=302,L]
