/* ===== ===== ===== ========= ===== ===== ===== */
/* ===== ===== ===== STRUCTURE ===== ===== ===== */
/* ===== ===== ===== ========= ===== ===== ===== */
html,
body {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family: Arial, sans-serif
}

body {
	background-color: #3E2C1E;
}

* {
  box-sizing: border-box;
}

* {
  transition: color 0.25s linear,
    background-color 0.25s linear,
    background-image 0.25s linear;
}

header {
  display: table-row;
  width: 100%;
}

footer {
  display: table-row;
  width: 100%;
  height: 1px;
}

#main {
  display: table-row;
  height: 100%;
}

.container {
	max-width: 1650px;
	min-width: 320px;
  
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
  }
  
.container > * {
	text-align: left;
}



/* ===== ===== ===== ============= ===== ===== ===== */
/* ===== ===== ===== TAG OVERRIDES ===== ===== ===== */
/* ===== ===== ===== ============= ===== ===== ===== */
h1 {
  margin: 0 0 0.25em 0;
  font-size: 260%;
  color: #637335;
  border-bottom: 1px solid #637335;
}

.clear {
	clear: both;
}



/* ===== ===== ===== ===== ===== ===== ===== */
/* ===== ===== ===== LINKS ===== ===== ===== */
/* ===== ===== ===== ===== ===== ===== ===== */
a, a:link, a:visited {
	color: #92A2A4;
	text-decoration: none;
}

a:hover {
	color: #637335;
}

a:active {
  color: #8A575E;
  transition: none;
}



/* ===== ===== ===== ====== ===== ===== ===== */
/* ===== ===== ===== HEADER ===== ===== ===== */
/* ===== ===== ===== ====== ===== ===== ===== */
a.brand {
	color: #8A575E;
	font-weight: bold;
	font-size: 3em;
  text-decoration: none;
  display: block;
  margin: 0.1em 0.5em;
}

nav {
	font-size: 1.25em;
	margin-top: 2em;
}

nav a {
	display: inline-block;
	height: 2em;
	padding: 0.4em 1.8em 0.25em 1.8em;
	margin: 5px;
}

nav a:hover {
	background-color: #735F4B;
	color: #FAFAFA;
}

nav a:active {
  color: #8A575E;
  transition: none;
}

header {
  background: #3E2C1E;;
}



/* ===== ===== ===== ====== ===== ===== ===== */
/* ===== ===== ===== FOOTER ===== ===== ===== */
/* ===== ===== ===== ====== ===== ===== ===== */
footer {
	background: #3E2C1E;
  color: #FAFAFA;
  background-image: url('/resources/images/grickit_tie_watermark.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto 50%;
}

footer > .container > *
{
  margin: 1em;
}



/* ===== ===== ===== ==== ===== ===== ===== */
/* ===== ===== ===== MAIN ===== ===== ===== */
/* ===== ===== ===== ==== ===== ===== ===== */
#main {
  background-color: #F0F0F0;
  background-image: url('/resources/images/background-tile.png');
  background-attachment: fixed;
}

#main > .container > *:first-child {
  padding: 1em;
  border: 1px solid #AAAAAA;
  background-color: #FAFAFA;
  box-shadow: 5px 1px 2px -2px rgba(0, 0, 0, 0.5), -5px 0.5px 2px -2px rgba(0, 0, 0, 0.5);
  margin: 1em 1em 2em 1em;
}



/* ===== ===== ===== ====== ===== ===== ===== */
/* ===== ===== ===== PHOTOS ===== ===== ===== */
/* ===== ===== ===== ====== ===== ===== ===== */
.gallery {
	min-height: 510px;
}

.gallery > h2 {
  margin-top: 0.5em;
  margin-bottom: 0.1em;
  color: #92A2A4;
  font-size: 220%;
  font-weight: bold;
}

.gallery .photos + h2,
.card.category + h1 {
  margin-top: 1.5em;
}

.gallery .photos {
  line-height: 0; /* Horrible hack to fix the extra vertical space between rows of photos. */
}

div.card {
	display: inline-block;
	padding: 0;
	border: 1px solid #111111;
	background-repeat: no-repeat;
	background-position: center;
  background-color: #AAAAAA;
  background-size: 100%;
}

div.card > a {
	display: block;
	width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div.card.photo {
	width: 240px;
  height: 160px;
	margin: 0.3em;
}

div.card.category {
  width: 255px;
  height: 215px;
  padding: 0.2em;
  line-height: 0;
  margin: 0.3em;
  background-color: #FAFAFA;
}

div.card.category div.card.photo {
  width: 120px;
  height: 80px;
  margin: 0.1em;
  border: 0;
}

.floating-controls {
  float: right;
}

.button, .button:link, .button:visited {
  user-select: none;
  background-color: #92A2A4;
  border: 1px solid #92A2A4;
  color: #FAFAFA;
  border-radius: 4px;
  padding: 0.75em;
  font-weight: bold;
  display: inline-block;
}

.button + .button {
  margin-left: 10px;
}

.button:hover {
  background-color: #FAFAFA;
  border: 1px solid #92A2A4;
  color: #92A2A4;
}

.button:not(.disabled):active {
  background-color: #FAFAFA;
  border: 1px solid #8A575E;
  color: #8A575E;
  transition: none;
}

.button.disabled {
  background-color: #666666;
  border: 1px solid #666666;
  color: #BBBBBB;
}
